<a href="https://colab.research.google.com/github/Siiera/Pekan-13_Sheilla-Amanda-Sulistyo_H051211036/blob/main/Tugas_Pekan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LATIHAN**
Buatlah program untuk menghitung penjumlahan 2 buah matriks

In [ ]:
mat1 = [                                              #Bentuk matriks dapat ditulis memanjang kesamping seperti pada mat2
        [3, -8],
        [4, 9],
      ]
mat2 = [[1, 0],[-5, 3],]

for x in range(0, len(mat1)):
    for y in range(0, len(mat1[0])):
        print (mat1[x][y] + mat2[x][y], end=' ')
    print('')                                        #Jika tidak memakai print('') maka hasilnya akan terprint hanya 1 baris, tidak menajdi matriks 2x2

4 -8
-1 12

**Nomor 1.**
Buatlah program untuk menghitung total pembelian N buah barang dengan harga dan jumlah tertentu

In [1]:
print(" Sheilla's Cookies")

nama= str(input("Nama barang:"))
harga= int(input("Harga barang: Rp. "))
jumlah= int(input("Jumlah barang yang dibeli: "))
Total=(int(harga*jumlah))
print("Total Harga = ", "Rp.",Total)
Bayar=int(input("Jumlah Nominal Uang =" ))
Kembalian= (Bayar-Total)
print("Uang Kembalian = ", "Rp.",Kembalian)

 Sheilla's Cookies
Nama barang:Cookies Nutella
Harga barang: Rp. 12000
Jumlah barang yang dibeli: 3
Total Harga =  Rp. 36000
Jumlah Nominal Uang =50000
Uang Kembalian =  Rp. 14000

**Nomor 2** Buatlah program untuk menghitung banyaknya bilangan genap ataupun bilangan ganjil dari N buah bilangan yang diinput secara acak

In [3]:
print('Masukkan nilai awal dan nilai akhir')

nilai_awal = int(input(' nilai awal: '))
nilai_akhir = int(input(' nilai akhir: '))
total_genap= 0
total_ganjil= 0

print("""\nTampilkan bilangan
 1. Ganjil
 2. Genap""")

pilihan = int(input('pilihan: '))
if pilihan not in [1, 2]:
  print('pilihan salah')
else:
  for x in range(nilai_awal, nilai_akhir + 1):
    if pilihan == 1 and x % 2 == 1:
      print(x, end = " ")
      total_ganjil = total_ganjil + 1
    elif pilihan == 2 and x % 2 == 0:
      print(x, end = " ")
      total_genap = total_genap + 1
  else:
      print('')

if pilihan == 1 :
  print("Banyak Bilangan Ganjil adalah " , total_ganjil)
elif pilihan == 2 :
  print("Banyak Bilangan Genap adalah " , total_genap)

Masukkan nilai awal dan nilai akhir
 nilai awal: 1
 nilai akhir: 10

Tampilkan bilangan
 1. Ganjil
 2. Genap
pilihan: 2
2 4 6 8 10
Banyak Bilangan Genap adalah  5

**Nomor 3** Buatlah program untuk menampilkan bilangan kelipatan 3 diantara bilangan tertentu

In [2]:
a = int(input('angka awal;'))
b = int(input('angka akhir;'))

for x in range (a,b+1):
  print (x)                             #dapat juga menggunakan end='' untuk membuatnya menjadi satu baris

while x >= 1:
  if (x % 3) == 0:
    print ('bilangan kelipatan 3 diatas yaitu %d ,' %x)
  x = x - 1

angka awal;1
angka akhir;60
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
bilangan kelipatan 3 diatas yaitu 60 ,
bilangan kelipatan 3 diatas yaitu 57 ,
bilangan kelipatan 3 diatas yaitu 54 ,
bilangan kelipatan 3 diatas yaitu 51 ,
bilangan kelipatan 3 diatas yaitu 48 ,
bilangan kelipatan 3 diatas yaitu 45 ,
bilangan kelipatan 3 diatas yaitu 42 ,
bilangan kelipatan 3 diatas yaitu 39 ,
bilangan kelipatan 3 diatas yaitu 36 ,
bilangan kelipatan 3 diatas yaitu 33 ,
bilangan kelipatan 3 diatas yaitu 30 ,
bilangan kelipatan 3 diatas yaitu 27 ,
bilangan kelipatan 3 diatas yaitu 24 ,
bilangan kelipatan 3 diatas yaitu 21 ,
bilangan kelipatan 3 diatas yaitu 18 ,
bilangan kelipatan 3 diatas yaitu 15 ,
bilangan kelipatan 3 diatas yaitu 12 ,
bilangan kelipatan 3 diatas yaitu 9 ,
bilangan kelipatan 3 diatas yaitu 6 ,
bilangan kelipatan 3 diatas yaitu 3 ,

**Nomor 4** Buatlah program untuk menampilkan bentuk bilangan seperti berikut ini:
Bilangan : <input suatu bilangan (misal:5)>
1
12
123
1234
12345

In [1]:
baris = int(input("Baris Total "))

for i in range(baris):
    for j in range(i+1):
        print(j+1, end=" ")
    print('')                          #jika ingin membuat segitiga siku2nyaterbalik kebawah menggunakan rumus a-=1

Baris Total 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Nomor 5** Buatlah program untuk menghitung dan menampilkan bentuk berikut ini:

No. Nama Mhs N.Tugas N.Kuis N.UTS N.UAS NilaiAkhir

1

2

...

N

In [ ]:
data = []
while True:
    print("Data Nilai")
    print('1. Tambah data')
    print('2. Tampilkan data')
    pilihan = int(input("Pilihan: "))
    if pilihan == 1:
        print ("\nMasukkan data mahasiswa(i):")
        print ("Nama Mhs, N.Tugas, N.Kuis, N.UTS, N.UAS")
        datamhs = input("Masukan data: \n")
        datamhs = datamhs.split(",")
        data.append(datamhs)
    elif pilihan == 2:
        print('''
--------------------------------------------------------------------
No. Nama Mhs         N.Tugas   N.Kuis   N.UTS   N.UAS   NilaiAkhir
--------------------------------------------------------------------''')
        count=0        
        for i in (data):
            count+=1
            NilaiAkhir = (((int(i[1]))*30 + int(i[2])*20 + (int(i[3]))*25 + int(i[4])*25))/100
            print (str(count)+".   ", "       ".join(i),"   ", NilaiAkhir)
            print ()
            print('--------------------------------------------------------------------')
    else :
        print ("Error")

Data Nilai
1. Tambah data
2. Tampilkan data
Pilihan: 1

Masukkan data mahasiswa(i):
Nama Mhs, N.Tugas, N.Kuis, N.UTS, N.UAS
Masukan data:
Sheilla,90,98,95,100
Data Nilai
1. Tambah data
2. Tampilkan data
Pilihan: 1

Masukkan data mahasiswa(i):
Nama Mhs, N.Tugas, N.Kuis, N.UTS, N.UAS
Masukan data:
Amanda,90,99,100,100
Data Nilai
1. Tambah data
2. Tampilkan data
Pilihan: 1

Masukkan data mahasiswa(i):
Nama Mhs, N.Tugas, N.Kuis, N.UTS, N.UAS
Masukan data:
Sulistyo,90,99,98,100
Data Nilai
1. Tambah data
2. Tampilkan data
Pilihan: 2

--------------------------------------------------------------------
No. Nama Mhs         N.Tugas   N.Kuis   N.UTS   N.UAS   NilaiAkhir
--------------------------------------------------------------------
1.    Sheilla       90       98       95       100     95.35

--------------------------------------------------------------------
2.    Amanda       90       99       100       100     96.8

--------------------------------------------------------------------
3.    Sulistyo       90       99       98       100     96.3

--------------------------------------------------------------------
Data Nilai
1. Tambah data
2. Tampilkan data